@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

#menu{
    z-index: 100;
    top: 7rem;
    position: fixed;
    width: 100%;
}

#menu .menu-mobile-content{
	display: flex;
    color: #cdbfa1;
}

#menu .menu-mobile-content input, #menu .menu-mobile-content p{
    display: none;
}
	
#menu label{
	font-size: 20px;
	display: none;
	cursor: pointer;
	color: #cdbfa1;
}

#menu .menu-dropdown{
	padding:5px;
	margin: auto;
	display: flex;
	list-style: none;
	position: relative;
	justify-content: center;
}

#menu .menu-dropdown li{
	display: inline-block;
	padding: 0.5rem;
	margin: 0 0.5rem;
}

#menu .menu-dropdown li a{
	color: #cdbfa1;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	max-width: 8rem;
	text-align: center;
	width: 10%;
}

#menu a .fas{
    padding: 5px;
    font-size: 16px
	}

#menu .menu-dropdown li ul{
	display: none;
	background: #404248; 
    top: 45px;
	width: 230px;
	position: absolute;
	border-top: 2px solid #c29b47;
}

#menu .menu-dropdown li:hover ul{
	display: block;
    transition: 6s;
}

#menu .menu-dropdown li:hover{
	opacity: 0.7;
	text-decoration: underline solid #c29b47;
    transition:.5s ease-in-out;

}


@media only screen and (max-width: 575px) {
	
	.menu-mobile-content{
		display: flex;
		width: 100%;
		height: 35px;
		margin: 10px auto;
		padding: 6px 10px;
		border-radius: 2px;
		justify-content: space-between;
		background: rgba(0,0,0,0.05);
	}
    
    #menu .menu-mobile-content p{
        display: flex;
    }
    
    #menu .menu-mobile-content input{
        display: none;
    }
	
	#menu label{
		display: block;
	}
    
    #menu .menu-dropdown{
        width: 100%;
        top: 91%;
        left: 0;
        position: absolute;
        flex-direction: column;
        border-top: 3px solid #c29b47;
        background: rgba(0,0,0,0.5);
        transform: translateX(-200%);
        transition: all 0.8s;
        z-index: -200;
    }
    
    #menu .menu-dropdown li{
        padding: 8px;
        border-bottom: 1px solid rgba(0,0,0,0.05)
    }
    
    #menu .menu-dropdown li ul{
        left: 25%;
        margin-top: 10%;
        width: 275px;
    }
    
    #menu .menu-dropdown li ul li{
        padding: 3.7%;
        width: 95%;
    }
    
    #btn-menu:checked ~ .menu-dropdown{
        transform: translateY(0%);
    }
}










